<div>
    <p-card>
        <ng-template pTemplate="title">
            Sales orders
        </ng-template>
        <ng-template pTemplate="header">
            <button style="margin: 10px;" (click)="showDialog()" pButton type="button" label="+ Sales order"
                class="p-button-rounded p-button-success"></button>
        </ng-template>


        <div>
            <p-dialog header="Create sales order" position="top" [(visible)]="displayAddSO" [style]="{width: 'auto'}">
                <form [formGroup]="soForm" style="height:600px">
                    <div class="p-grid p-fluid">

                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="far fa-address-card"></i></span>
                                <p-dropdown [style]="{width:'auto'}" formControlName="customer" [options]="customerList"
                                    [styleClass]="{width:'auto'}" [showTransitionOptions]="'1ms'"
                                    [hideTransitionOptions]="'1ms'" [(ngModel)]="selectedCustomer" optionLabel="name"
                                    optionDisabled="inactive">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-hashtag"></i></span>
                                <input formControlName="so_number" type="text" mask="SO-123456" pInputText
                                    placeholder="so_number">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-truck-moving"></i></span>
                                <p-dropdown formControlName="transportOption" [options]="transportChoices"
                                    [(ngModel)]="selectedTransport" optionLabel="name" optionDisabled="inactive">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="p-grid p-fluid">
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-truck-loading"></i></span>
                                <input formControlName="ddNumber" type="text" pInputText placeholder="DD">
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-file-invoice-dollar"></i></span>
                                <input formControlName="invNumber" type="text" pInputText placeholder="INV">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p-panel header="SKU">
                        <div formArrayName="sku">
                            <div *ngFor="let item of skuForm.controls;let i=index" [formGroupName]="i">
                                <div style="display: inline;">
                                    <h6>ITEM No. {{i+1}}
                                        <button (click)="removeSku(i)" style="vertical-align: middle;" pButton
                                            type="button" label="Primary" icon="pi pi-times" size="tiny"
                                            class="p-button-rounded p-button-text p-button-danger p-button-icon-only"></button>
                                    </h6>
                                </div>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="fas fa-cubes"></i></span>
                                            <p-dropdown formControlName="skuCode" [style]="{width:'200px'}"
                                                [options]="skuChoices" optionLabel="name" optionDisabled="inactive">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-inputgroup">
                                            <!-- <span class="p-inputgroup-addon"><i class="fas fa-tag"></i></span> -->
                                            <!-- <input formControlName="qty" type="text" pInputText placeholder="QTY"> -->
                                            <p-inputNumber [(ngModel)]="soForm.value.sku[i].qty" [showButtons]="true"
                                                formControlName="qty" buttonLayout="horizontal"
                                                spinnerMode="horizontal">
                                            </p-inputNumber>
                                        </div>
                                    </div>
                                </div>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-inputgroup">
                                            <span class="p-inputgroup-addon"><i class="fab fa-buffer"></i></span>
                                            <p-dropdown formControlName="unit" [style]="{width:'200px'}"
                                                [options]="unitChoices" optionLabel="name" optionDisabled="inactive">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </p-panel>
                    <br>
                    <button class="p-button-info" pButton type="button" label="Add Sku" (click)="addSku()"></button>
                    <span style="padding: 20px;"></span>
                    <button (click)="submithandler()" pButton *ngIf="soForm.value.sku.length > 0" type="button"
                        label="Submit" class="p-button-success"></button>
                    <div style="width: 25%;">
                        <!-- {{soForm.value | json}} -->
                    </div>

                </form>
            </p-dialog>
            <p-table [value]="soData" [responsive]="true" [autoLayout]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>DATE</th>
                        <th>CUSTOMER</th>
                        <th>SO</th>
                        <th>DD</th>
                        <th>INV</th>
                        <th>SKU</th>
                        <th>QTY</th>
                        <th>SOH</th>
                        <th>STATUS</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-v>
                    <tr>
                        <td>{{v.date.toMillis() | date: 'dd/MMM/YYYY'}}</td>
                        <td>{{v.customer.name}}</td>
                        <td>{{v.so_number}}</td>
                        <td>{{v.ddNumber}}</td>
                        <td>{{v.invNumber}}</td>
                        <td>
                            <div *ngFor="let item of v.sku">
                                <p-button [label]="item.skuCode.name" styleClass="p-button-info p-button-text">
                                </p-button>
                                <hr>
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let item of v.sku">
                                <p-button [label]="item.qty" styleClass="p-button-info p-button-text">
                                </p-button>
                                <hr>
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let item of v.sku">
                                <p-button [label]="getSoh(item.skuCode.name)" styleClass="p-button-info p-button-text">
                                </p-button>
                                <hr>
                            </div>
                        </td>
                        <td>
                            <p-button *ngIf="v.status == 'pending' else green " [label]="v.status"
                                styleClass="p-button-warning" badgeClass="p-badge-danger">
                            </p-button>

                            <ng-template #green>
                                <p-button [label]="v.status" styleClass="p-button-success" badgeClass="p-badge-danger">
                                </p-button>
                            </ng-template>

                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>

    </p-card>
</div>
