<div>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
    <!-- Id Column -->
    <ng-container matColumnDef="SHIPMENT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SHIPMENT NUMBER</th>
      <td class="colBox" style="vertical-align: top;" mat-cell *matCellDef="let row;let i=index"><br>
        {{row.shipmentNumber}}
        <br>Total<strong> &nbsp; ({{totalCont(i)}})</strong> &nbsp; containers <br>

        <mat-list role="list">
          <mat-icon mat-list-icon>folder</mat-icon>
          <mat-list-item role="listitem">Total Rice (Ton) : 111</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">Total Salt (Ton) : 123</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">Total Lunchbox (Bundles) : 123</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">Total Salt (Ton) : 123</mat-list-item>
        </mat-list>

      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="CONT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CONTAINERS</th>
      <td class="colBox" mat-cell *matCellDef="let row">
        <br>
        <div *ngFor="let cont of row.containerList;let i=index">
      <td class="colBox" calss="spaceBlock">{{cont.containerNumber}}
        <table mat-table [dataSource]="row.containerList[i].sku" class="mat-elevation-z0">

          <ng-container matColumnDef="SKU">
            <th class="colBox" mat-header-cell *matHeaderCellDef> SKU. </th>
            <td class="colBox" mat-cell *matCellDef="let element;let i=index"> {{element.skuCode}} </td>
          </ng-container>
          <ng-container matColumnDef="QTY">
            <th class="colBox" mat-header-cell *matHeaderCellDef> QTY. </th>
            <td class="colBox" mat-cell *matCellDef="let element"> {{element.qty}}
            </td>
          </ng-container>

          <ng-container matColumnDef="TON">
            <th class="colBox" mat-header-cell *matHeaderCellDef> (TON) </th>
            <td class="colBox" mat-cell *matCellDef="let element;let i=index">
              <span *ngIf="element.skuCode != 'FOAM_105P'  else bundles">{{element.qty *20 /
                1000}}</span>
              <ng-template #bundles>
                Bundles
              </ng-template>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="subTableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: subTableColumns;"></tr>
        </table>
      </td>
      <br>
</div>

<br>
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
  [pageSizeOptions]="[1, 5, 10, 20]">
</mat-paginator>
</div>
